* {
	padding: 0;
	margin: 0;
	font-family: "Nunito";
	box-sizing: border-box;
	color: #18181b;
}

body {
	background-color: #212121;
}

h1 {
	font-family: "Nunito";
	font-size: 40px;
	font-weight: 700;
	color: #FFFF;
	text-align: center;
	
}

h2 {
	font-family: "Nunito";
	font-size: 24px;
	font-weight: 700;
	color: #FFFF;
}
.wrapper {
	display: flex;
	overflow: hidden;
	height: 100%;
}
  
/* left section */

.left {
	display: flex;
	justify-content: center;
	align-self: center;
	background: #D96409;
	width: 25%;
	height: 55vw;
	overflow: hidden;
}

.content_left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	height: 100%;
	padding: 180px 0;
}

.content_left img {
	width: 400px;
	height: 300px;
    position: absolute;
}

/* right section */

.right {
	display: flex;
	margin-left: 30%;
	align-items: center;
	justify-content: center;
	align-self: center;
	flex-direction: column;
	width: 55%;
	height: 100%;
}

.content_right {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	flex-grow: 1;
	padding: 40px 0;
}

.alternative_login img {
	width: 60px;
	height: 60px;
	cursor: pointer;
}

.content_right img {
	width: 250px;
	height: 93.96px;
}

.text_masuk h1{
	align-self: flex-start;
	margin-top: 8px;
	color: #f7f7f7;
}

.text_masuk p{
	font-family: nunito;
	font-size: 16px;
	font-weight: 400;
	color: #f7f7f7;
	margin-left: 30px;
}

/* form section */

form {
	align-self: flex-start;
	margin-top: 16px;
}

form label {
	display: block;
	font-family: inter;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 8px;
}

.email {
	margin-bottom: 16px;
}

.input_email {
	position: relative;
	width: 400px;
	height: 45px;
	margin-bottom: 20px;
	
}

.input_email input {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0 16px 0 24px;
	background:  #F8FAFC;
	border: 1px solid #18181b;
	border-radius: 10px;
	font-family: "Nunito";
	font-size: 16px;
	font-weight: 400;
	color: #18181b;
}

.input_email i {
	position: absolute;
	top: 50%;
	padding-left: 13px;
	transform: translateY(-50%);
}

.password {
	margin-bottom: 8px;
}

.input_password {
	position: relative;
	width: 400px;
	height: 45px;
}

.input_password input {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0 16px 0 24px;
	background:  #F8FAFC;
	border: 1px solid #18181b;
	border-radius: 10px;
	font-family: "Nunito";
	font-size: 16px;
	font-weight: 400;
}


form i {
	color: #18181b;
}


.button_masuk {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 24px;
	width: 400px;
	height: 48px;
	background: #D96409;
	border-radius: 10px;
	color: #f8fafc;
	font-family: "Nunito";
	font-weight: 600;
	font-size: 16px;
	border: none;
}

.button_masuk a{
	color: #f7f7f7;
}

.button_masuk:hover {
	background: #665a5a;
	color: #f7f7f7;
	border-radius: 10px;
	cursor: pointer;
}

.link_daftar {
	margin-top: 24px;
}

.link_daftar p {
	font-family: "Nunito";
	font-weight: 400;
	font-size: 14px;
	color: #52525b;
}

.link_daftar span a{
	font-family: "Nunito";
	font-weight: 700;
	font-size: 14px;
	color: #52525b;
	text-decoration: underline;
	cursor: pointer;
}

a{
	text-decoration: none;
}
